// TODO: Convert into mixins
.u-clearfix::after {
    clear: both;
    content: '';
    display: table;
}

.u-clear-left {
    clear: left;
}

.u-clear-right {
    clear: right;
}

.u-clear-both {
    clear: both;
}
