.flex {
    display: flex;

    &__col {
        flex: 1;
    }

    &--direction--column {
        flex-direction: column;
    }
}

.grid {
    display: grid;
    grid-template-areas: 'header header' 'content content' 'footer footer';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;

    &__area {
        &--header {
            grid-area: header;
        }

        &--content {
            grid-area: content;
        }

        &--footer {
            grid-area: footer;
        }
    }

    &__col-1 {
        grid-column-end: 2;
        grid-column-start: 1;
    }

    &__col-2 {
        grid-column-end: 3;
        grid-column-start: 2;
    }
}

@for $i from 1 through 10 {
    .gap--#{$i} {
        gap: $space * $i;
    }

    .gap--column--#{$i} {
        column-gap: $space * $i;
    }

    .gap--row--#{$i} {
        row-gap: $space * $i;
    }
}
