@for $i from 0 through 10 {
    .u-gutter-all-#{$i} {
        margin: $space * $i;
    }

    .u-gutter-top-#{$i} {
        margin-top: $space * $i;
    }

    .u-gutter-right-#{$i} {
        margin-right: $space * $i;
    }

    .u-gutter-bottom-#{$i} {
        margin-bottom: $space * $i;
    }

    .u-gutter-left-#{$i} {
        margin-left: $space * $i;
    }
}

.u-cancel-gutter {
    @each $direction in top, left, bottom, right {
        &--#{$direction} {
            margin-#{$direction}: 0 !important;
        }
    }

    &--all {
        margin: 0 !important;
    }
}

@each $direction in top, left, bottom, right, all {
    @if not direction == all {
        .u-gutter-#{$direction}-0 {
            margin-#{$direction}: $space * 0.5;
        }
    } @else {
        .u-gutter-all-0 {
            margin: $space * 0.5;
        }
    }
}
