@each $direction in top, left, bottom, right, x, y {
    @for $i from 0 through 10 {
        .u-gutter-#{$direction}-#{$i} {
            @if $i == 0 {
                margin-#{$direction}: $space * 0.5;
            } @else if $i == x {
                margin-left: $space * $i;
                margin-right: $space * $i;
            } @else if $i == y {
                margin-bottom: $space * $i;
                margin-top: $space * $i;
            } @else {
                margin-#{$direction}: $space * $i;
            }
        }
    }

    .u-cancel-gutter {
        &--#{$direction} {
            @if $direction == x {
                margin-left: 0 !important;
                margin-right: 0 !important;
            } @else if $direction == y {
                margin-bottom: 0 !important;
                margin-top: 0 !important;
            } @else {
                margin-#{$direction}: 0 !important;
            }
        }
    }
}

.u-gutter-all-0 {
    margin: $space * 0.5;
}

.u-cancel-gutter--all {
    margin: 0 !important;
}
