@for $i from 1 through 10 {
    .u-padding-all-#{$i} {
        padding: $space * $i;
    }

    .u-padding-top-#{$i} {
        padding-top: $space * $i;
    }

    .u-padding-right-#{$i} {
        padding-right: $space * $i;
    }

    .u-padding-bottom-#{$i} {
        padding-bottom: $space * $i;
    }

    .u-padding-left-#{$i} {
        padding-left: $space * $i;
    }
}

.u-padding-all-0 {
    margin: $space * 0.5;
}

.u-cancel-padding--all {
    margin: 0 !important;
}

@each $direction in top, left, bottom, right {
    .u-padding-#{$direction}-0 {
        padding-#{$direction}: $space * 0.5;
    }

    .u-cancel-padding {
        &--#{$direction} {
            padding-#{$direction}: 0 !important;
        }
    }
}
