@each $direction in top, left, bottom, right, x, y {
    @for $i from 0 through 10 {
        .u-padding-#{$direction}-#{$i} {
            @if $i == 0 {
                @if $direction == x {
                    padding-left: $space * 0.5;
                    padding-right: $space * 0.5;
                } @else if $direction == y {
                    padding-bottom: $space * 0.5;
                    padding-top: $space * 0.5;
                } @else {
                    padding-#{$direction}: $space * 0.5;
                }
            } @else {
                @if $direction == x {
                    padding-left: $space * $i;
                    padding-right: $space * $i;
                } @else if $direction == y {
                    padding-bottom: $space * $i;
                    padding-top: $space * $i;
                } @else {
                    padding-#{$direction}: $space * $i;
                }
            }
        }
    }

    .u-cancel-padding {
        &--#{$direction} {
            @if $direction == x {
                padding-left: 0;
                padding-right: 0;
            } @else if $direction == y {
                padding-bottom: 0;
                padding-top: 0;
            } @else {
                padding-#{$direction}: 0 !important;
            }
        }
    }
}

.u-padding-all-0 {
    padding: $space * 0.5;
}

.u-cancel-padding--all {
    padding: 0 !important;
}
