$mobile-upper: 599px !default;
$tablet-portrait-lower: 600px !default;
$tablet-portrait-upper: 899px !default;
$tablet-landscape-lower: 900px !default;
$tablet-landscape-upper: 1199px !default;
$desktop-lower: 1200px !default;
$desktop-upper: 1799px !default;
$big-desktop-lower: 1800px !default;
