$base-unit: 8px !default;
$content-wrap--max-width: 1800px !default;
$content-wrap--min-width: 360px !default;
$content-wrap-padding--mobile: $base-unit * 3 !default;
$content-wrap-padding--tablet: $base-unit * 6 !default;
$content-wrap-padding--desktop: 75px !default;
$content-wrap-padding--big-desktop: 100px !default;
$content-wrap--min-width: 360px !default
